@model Person
@{
  string FullName = Model.FirstName + " " + Model.LastName;
  ViewData["Title"] = FullName;
}

<div class="jumbotron">
  <h1 class="display-4">@FullName</h1>
  <p class="lead">I am @FullName, I live in @Model.Address, and I earn about Rs. @Model.Salary from this company.</p>
  <hr class="my-4">
  <p>I am just one employee of this company. You can view my colleague from the button below.</p>
  <a class="btn btn-primary btn-lg" asp-controller="Employee" asp-action="Index" role="button">My colleague</a>
</div>